/*****Hero*****/

body section#hero {
    min-height: 18rem;
    overflow: hidden;
    margin-bottom: 70px;
    position: relative;
}
body section#hero video.bg-hero-video {
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 18.75rem ;
    object-fit: cover; /* Ensures video fills the screen */
    z-index: -1; /* Sends it behind content */

}

body section#hero div article.hero-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 300px;
}

body section#hero div article.hero-content div.hero-text {
    border-radius: 5px 5px 0px 0px;
   /* background-color: white;*/
    max-width: 1250px;
    margin-top: auto;
    color: white;
    text-shadow: 10px 10px 10px #000000;

}

body section#hero div article.hero-content div.hero-image {


    text-align: center;
    margin-top: auto;
    width: 450px;

}

body section#hero div article.hero-content div.hero-image img {


    width: 450px;

}

/*****Intro*****/
section#intro>div.container {


}

section#intro>div.container p {


    width: 90%;
    max-width: 1250PX;

    margin-bottom: 40px;
}

/*************/



/**PROJECTS***/

div.container div.box-row {


    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    ;
    margin-bottom: 40px;
}







div.container div.box-row article.project-content {
    width: 29rem;
    min-height: 15rem;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 20px 0;


}

.project-content img {
    /*  position: absolute;
    top: 0;
    left: 0;*/
    width: 200px;
    margin: 30px 0;


}


/*************************/
section#studied-section {
    padding-bottom: 200px;
}

div.container div.box-row-studies {
 
    display: flex;
    justify-content: center;
}

.study-content {
    width: 530px;
   

}

.study-group {
    display: grid;

    gap: 1rem;
    grid-template-columns: repeat(auto-fit, 120px);
    justify-items: center;
    justify-content: center;


}


div.container div.box-row div.study.category {
    height: 120px;
   width: 100px;
    text-align: center;
  

    overflow: hidden;
    position: relative;

}



.study img {
    /*position: absolute;
    top: 0;
    left: 0;*/
    overflow: hidden;
    margin: 20px 0;
    width: 50px;
}

h1.hero-title {
    font-size: clamp(4rem, 10vw, 8rem);
    margin-left: 2rem;
    line-height: 1;
}

h2.hero-slogan {
    font-size: clamp(1.8rem, 5vw, 3rem);


}

h2.title {
    text-align: center;
    margin-bottom: 50px;
}

h3 {
    text-align: center;


}
.study-content h3 {
    margin: 40px 0;

}

.under-slogan p {
    font-size: clamp(0.6rem, 2vw, 1rem);
    margin-left: 10rem;
}

p.intro {

    width: 50em;
    margin: 0 auto;
}